* {
    font-family: "Plus Jakarta Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}

.contenttt {
margin-top: 7%;
}

body {
    margin: 0;
    height: 200vh;
    background: #f8f9fa;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.navbarr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.navbarr .daffa {
    width: auto;
    width: 50px;
    height: 50px;
    margin-left: 12px;
    margin-right: 42px;
}

.fotoAtas img {
    border-radius: 20px;

}

.logobrop {
    display: grid;
}

.logobrop img {
    justify-self: center;
}

.kiriNavbar {
    display: flex;
}

.navbarr ul {
    display: flex;
    margin-bottom: 0rem !important;
    padding: 0 !important;
    align-items: center;
    gap: 30px;
}

.navbarr ul li {
    list-style: none
}

.navbarr ul li a {
    text-decoration: none;
    color: #0f172a;
    font-size: 14px;
    transition: 0.3s ease;

}

.navbarr ul li:hover a {
    color: white;
    background-color: #fd1d1d;
    padding: 4px 6px;
    border-radius: 10px;
}

.navbarr ul li:last-child a {
    margin: 0;
}



.dalem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.isi, .kepemimpinan, .kisah {
    margin-bottom: 12%;
}
nav {
    position: absolute;
    width: 100%;
    height: 6vw;
    display: flex;
    text-align: center;
    margin-top: 3%;
    border-bottom: 2px solid rgba(184, 18, 18, 0.423);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* Firefox 4+, Opera, Chrome */
    position: sticky;
    top: 0;
    background-color: white;

    z-index: 3;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    z-index: 3;
}

nav ul li {
    list-style-type: none;
    z-index: 3;
}

.sticky {
    position: fixed;
}

nav ul li a {
    color: black;
    font-weight: 600;
    transition: 0.3s ease;
    position: relative;
    z-index: 3;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:visited {
    text-decoration: underline;

}

nav ul li a:hover {
    text-decoration: none;
    background-color: #fd1d1d;
    color: white;
    padding: 7px;
    border-radius: 10px;
}

nav li a:active {
    text-decoration: underline;
}


.sticky+.isic {
    padding-top: 60px;
}

.headercontent {
    position: relative;
    border: 2px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 70%;
    height: 300px;
    margin-top: 100px;
    border-radius: 8px;
    background-color: white;
}

.isic {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}


.isi {
    margin-left: 6%;
    color: #fd1d1d;
    width: 80%;
    margin-top: 20px;
    display: flex;
   
    gap: 25%;
}

.fotot {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.kiriinibos {
    display: flex;
    flex-direction: column;
}

.isi p {
    padding-top: 20px;
    font-size: 18px;
    color: #fd1d1d99;
    font-weight: 300;
}

.forc {
    display: flex;
    gap: 2%;
}
.forc img {
    width: 40px;
    height: 40px;
}
.kisah {
    margin-left: 6%;
    color: #fd1d1d;
    margin-top: 20px;
    width: 80%;
    margin-top: 20px;
    display: flex;
   
    gap: 25%;
}

.kiriinibos1 {
    display: flex;
    flex-direction: column;
}

.kisah p {
    padding-top: 20px;
    font-size: 18px;
    color: #fd1d1d99;
    font-weight: 300;
}

.kepemimpinan {
    margin-left: 6%;
    overflow: hidden;
    max-width: 100%;
    min-height: 1000px;

}
.isikepemimpinan {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    text-align: center;
   
}
.kepemimpinan .PP img {
    width: 300px;
    height: 230px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}

.kepemimpinan .Header {
    color: #fd1d1d;
}

.kepemimpinan .teks {
    float: left;
    margin-top: 10px;
    width: 45%;
    color: #fd1d1d99;
    font-weight: 300;
}

h1 {
    font-size: 37px;
    font-weight: 500;
}

h2 {
    font-size: 30.3px;
    font-weight: 500;
}

h1,
h2,
h3 {
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.teks h1 {
    font-weight: 500;
    text-align: left;
    color: #fd1d1d;

}

.teks h3 {
    font-weight: 500;
    text-align: left;
    color: #fd1d1d;
    opacity: 0.5;
    padding-top: 2px;
}

.teks p {
    text-align: left;
}

.line-container {
   position: absolute;
    width: 1.8px;
    height: 2000px;
    pointer-events: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.line {

    width: 100%;
    height: 100%;
    background: rgba(255, 192, 203, 0.7);
    transition: background 0.2s, box-shadow 0.2s;
}

.line-progress {
    top: 0;
    width: 100%;
    height: 0;
    background: transparent;
    animation: none;
    border-radius: 50%;
}


.line-progress.active {
    background: #fd1d1d;
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.8);
    animation: spark-animation 1s linear infinite;
    border-radius: 200px;
}