* {
    font-family: "Plus Jakarta Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #ffffff;
    max-width: 100%;
}
.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25) ;
    z-index: 1000;
}
.navbar .logoss {
    margin-left: 12px;
    margin-right: 42px;
}
.navbar img {
    width: auto;
    width: 50px;
    height: 50px;
}
.fotoAtas img {
    border-radius: 20px;
}
.kiriNavbar {
    display: flex;
}
.mapsrumah {
    width: 100%;
    height: 75vh;
}
.mapsrumah img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kiriNavbar ul {
    display: flex;
    align-items: center;
    gap: 30px;
}
.kiriNavbar ul li {
    list-style: none
}
.kiriNavbar ul li a {
    text-decoration: none;
    color: #0f172a;
    font-size: 14px;
    transition: 0.3s ease;
    border-radius: 10px;
}
.kiriNavbar ul li:nth-child(2) {
    list-style: none;
    border-bottom: 3px solid #fd1d1d;
    
}
.kiriNavbar ul li:hover a{
    color: white;
    background-color: #fd1d1d;
    padding: 4px 6px;
    border-radius: 10px;
}
.kiriNavbar ul li:last-child a {
    margin: 0;
}
.loginOrRegis {
    background-color: #e7e5e5;
    color: #9F2A2A;
    padding: 12px 14px;
    max-width: 100%;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 9px;
    transition: 0.4s ease;
    margin-right: 20px;
}
.loginOrRegis:hover {
    background-color: #9F2A2A;
    color: white
}
.getStarted {
    background-color: #e7e5e5;
    color: #9F2A2A;
    padding: 8px 12px;
    margin-top: 3%;
    max-width: 100%;
    border: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 9px;
    transition: 0.4s ease;
}
.getStarted:hover {
    background-color: #9F2A2A;
    color: white
}
.dalem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    height: 68vh;
    background-color: #fa3636;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25) ;
    display: flex;
    align-items: center;
 }
 .isiHeader {
    display: flex;
    margin: auto;
    height: 80%;
 }
 .maps {
    max-width: 90%;
    max-height: 100%;
    border-radius: 10px;
}
 .kalimat {
     color: white;
     z-index: 2;
     line-height: 1.2;
     margin: auto;
 }
 .kalimat p {
     color: #fff;
     margin-top: 2%;
     line-height: 1.9;
     letter-spacing: 0.5px;
     flex-wrap: wrap;
     max-width: 40%;
     font-size: 15px;
     animation: text-color 30s infinite ease-in-out;
     animation-delay: 0s;
 }
 .kalimat h2 {
     font-size: 20px;
 }
 .kalimat h1 {
   font-size: 30px;
 }
 .kalimat h2 span {
     color: white;
    font-size: 45px;
    text-shadow: 0 0 6px white;
 }
 /* CSS untuk dropdown content */
 .profile {
    display: flex;
    gap: 9px;
    padding: 2px 6px;
    border-radius: 10px;
    color: white;
    background-color: #fd1d1d;
    border: 1px solid white;
    align-items: center;
 }
 .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
 }
 .dropdown {
    position: relative;
    overflow: hidden;
}

.dropdown button {
    outline: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.dropdown-content {
    display: block; 
    position: fixed;
    z-index: 2;
    padding: 20px 0;
    background-color: white;
    width: 19%;
    height: 76vh;
    border-radius: 10px 0 0 10px;
    right: 0;
    top: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%); 
    opacity: 0; 
    transition: transform 0.5s ease, opacity 0.5s ease; 
}


.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
    transform: translateX(0); 
    opacity: 1; 
}


.profile-section {
    text-align: center;
    margin-bottom: 20px;
}
.profile-section img.profileguys {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-section .username {
    font-size: 18px;
    color: #333;
    margin: 0;
    font-weight: bold;
}

.dropdown-content .profile h3 {
    color: black;
    margin: 0;
}

.dropdown-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 18%;
    list-style: none;
    gap: 20px;
}

.dropdown-content ul li a {
    color: black;
    text-decoration: none;
    width: 80%;
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    transition: ease 0.3s;
}

.dropdown-content ul li a:hover {
    color: white;
    background-color: #fd1d1d;
    padding: 4px 6px;
    border-radius: 10px
}
.ini li:nth-child(4) a {
   margin-top: 5%;
    color: #fd1d1d;
}


.dropdown:not(:hover) .dropdown-content {
    transform: translateX(100%); 
    opacity: 0; 
}

.dalem .content .filter {
    position: relative;
    width: 74%;
    padding: 10px;
    margin: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    background: #fff;
    box-shadow: 0 5px 15px -10 rgb(214, 214, 214);
}

.form-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    overflow: auto;
    gap: 1%;
}
.form-fields::-webkit-scrollbar {
    width: 0;
    height: 0;

}
.dalem .content .filter form .cart {
    width: 17%;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s ease-in-out;
}
.dalem .content .filter form .cart:focus-within {
    border: 2px solid #fd1d1d;
    border-radius: 20px;
}
.dalem .content .filter form .cart:first-child {
    width: 17%;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.dalem .content .filter form .cart:first-child:focus-within {
    border: 2px solid #fd1d1d;
    border-radius: 20px;
}
.dropdowns {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    
    max-height: 100px; 
    overflow-y: auto;
    z-index: 1000;
}

.dalem .content .filter form .cart .dropdowns::-webkit-scrollbar {
    display: none; /* Sembunyikan scrollbar */
}

.dropdowns-item {
    font-size: 14px;
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
    border-radius: 5px; 
    
    color: #0f172a;
    max-height: 20px; 
    cursor: pointer;
    transition: 0.3s ease;
}
.dropdowns-item:hover {
 background-color: #fd1d1d;
 color: #fff;
 padding: 0.8px 5px 0.8px 5px;
}

/* Untuk semua browser kecuali Firefox */
.dalem .content .filter form .cart::-webkit-scrollbar {
    display: none; /* Sembunyikan scrollbar */
  }
  
  /* Untuk Firefox */
  .dalem .content .filter form .cart {
    scrollbar-width: none; /* Sembunyikan lebar scrollbar */
  }
  .dalem .content .filter form .cart h5{
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 3%;
  }
.dalem .content .filter form .cartharga{
    width: 45%;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    transition: 0.3s ease;
}
.dalem .content .filter form .cartharga:focus-within{
    border: 2px solid #fd1d1d;
    border-radius: 20px;
 }
.dalem .content .filter form .cartharga h5 {
font-size: 17px;
font-weight: 500;
margin-bottom: 2%;
}

.dalem .content .filter form .cartharga .form .input-wrapper{
  width: 50%;
}
.dalem .content .filter form .cartharga .form .input-wrapper input {
    padding-left: 8%;
    font-size: 10px;
    outline: none;
    border: none;
  
}
.dalem .content .filter form .cartharga .minmax {
    display: flex;
    align-items: center;
    gap: 3%;
}
.dalem .content .filter form .cartharga .options {
display: flex;
margin-top: 2%;
gap: 2%;
}
.dalem .content .filter form .cartharga .options button {
padding: 6px 8px;
font-size: 9px;
border-radius: 8px;
box-shadow: black;
border: 1px solid gray;
}
.minmax .garis {
    font-size: 10px;
    font-weight: 300;
}
.input-wrapper {
    position: relative;
        padding: 6px;
        border: 0.5px solid gray;
        border-radius: 12px;
}

.input-wrapper label {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
    color: #333;
}

.input-wrapper input {
    padding-left: 30px; /* Sesuaikan dengan lebar label */
}
.dalem .content .filter form .cart:nth-child(1) input{
border: none;
outline: none;
margin-top: 5px;
font-size: 15px;
font-weight: 600;
background: none;
font-family: "Plus Jakarta Sans";
}
.dalem .content .filter form .cart input{
border: none;
outline: none;
margin-top: 13px;
font-size: 15px;
font-weight: 600;
background: none;
font-family: "Plus Jakarta Sans";
}
.dalem .content .filter form .cart button{
border: none;
font-size: 10px;
background: none;
outline: none;
margin-right: 20px;
margin-top: 10px;
font-family: "Plus Jakarta Sans";
cursor: pointer;
transition: 0.3s linear;
}
.filter .cartharga form option:hover {
    background-color: red; /* Warna latar belakang saat dihover */
}
.submit-container {
    display: flex;
    gap: 1%;
}
.submit-container input {
    font-size: 15px;
    padding: 6px 16px;
    border-radius: 9px;
    transition: 0.3s ease;
    outline: none;
    border: 1px solid black;
}
.submit-container button{
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 8px;
    transition: 0.3s ease;
    outline: none;
    border: 1px solid black;
}
.submit-container input:hover {
    color: white;
    background-color: #fd1d1d;
    border: 1px solid white;
}
.submit-container button:hover {
    color: white;
    background-color: #fd1d1d;
    border: 1px solid white;
}
.filter-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Sesuaikan lebar sesuai kebutuhan */
    max-height: 80vh; /* Tetapkan tinggi maksimum */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    z-index: 9999; /* Pastikan z-index lebih tinggi dari elemen lain */
    overflow-y: hidden; /* Sembunyikan overflow vertikal */
    display: none; /* Sembunyikan secara default */
}
.atasfilterlanjutan {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 1.5% 0 1.5% 0;
}
.atasfilterlanjutan img {
    width: 20px;
    height: 20px;
}
.atasfilterlanjutan h4{
   font-size: 20px;
}
.filterrr {
  
    overflow-y: auto; /* Aktifkan scroll vertikal jika perlu */
    max-height: 60vh;
}
.filter-box button {
    font-size: 17px;

}

/* kamartidurkamarmandi */
.dalem .content .filter-box .cart{
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
}
.dalem .content .filter-box .cart:first-child{
    width: 100%;
    margin-bottom: 3%;
    height: 95px;
    overflow-y: auto; /* Aktifkan scroll vertikal jika terjadi overflow */
    overflow-x: hidden; /* Sembunyikan scroll horizontal */
   
}
.dalem .content .filter-box .cart:first-child::-webkit-scrollbar{
    display: none;
}
.dropdown-item1 {
    font-size: 10px; 
    color: #0f172a; 
    max-height: 20px;
    cursor: pointer;
    scrollbar-width: none;
}
.dalem .content .filter-box .cart h5{
    font-size: 15px;
       font-weight: 400;
       
    }
    .dalem .content .filter-box .cart input{
    border: none;
    outline: none;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    background: none;
    font-family: "Plus Jakarta Sans";
    }
    
    .dalem .content .filter-box .cart button{
    border: none;
    font-size: 12px;
    background: none;
    outline: none;
    margin-right: 20px;
    margin-top: 5px;
    font-family: "Plus Jakarta Sans";
    cursor: pointer;
    transition: 0.3s linear;
    }
    .filter .cartharga .filter-box option:hover {
        background-color: red; /* Warna latar belakang saat dihover */
    }
    /* harga */
    .dalem .content .filter-box .cartharga{
        width: 100%;
        height: 100%;
        margin-bottom: 3%;
    }
    .dalem .content .filter-box .cartharga h5 {
        font-size: 15px;
        font-weight: 400;
   margin-bottom: 2%;
   }
   
   .dalem .content .filter-box .cartharga form .input-wrapper input {
       padding-left: 13px;
       font-size: 14px;
       outline: none;
       border: none;
   }
   .dalem .content .filter-box .cartharga .minmax {
       display: flex;
       align-items: center;
       gap: 1%;
   }
   .dalem .content .filter-box .cartharga .options {
   display: flex;
      margin-top: 2%;
      gap: 2%;
   }
   .filter-box .options button {
    font-size: 11px;
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid black;
}

   .minmax .garis {
       font-size: 20px;
       font-weight: 300;
   }
   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
       -webkit-appearance: none;
       margin: 0;
   }
  
  
   /* urutberdasarkan */
  .carturut {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4%;
    height: 100%;
  }
  .carturut h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 1%;
 }
 .carturut label {
    font-size: 14px;
    line-height: 20px;
 }
 .carturut label input[type="checkbox"] {
    width: 14px;
    height: 14px;
 }
/* fasilitas */
.cartfasilitas {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 2%;
}
.cartfasilitas h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 1%;
}
.cartfasilitas label {
    font-size: 14px;
    line-height: 20px;
 }
 .cartfasilitas label input[type="checkbox"] {
    width: 14px;
    height: 14px;
 }
  
   .filter .cari1:hover, .filter1:hover {
     color: white;
     background-color: #fd1d1d;
     border: 1px solid white;
   }

/* CSS untuk label "m²" di sebelah kanan input luas tanah */
.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper .luastnh {
    width: 70px;/* Menambahkan ruang di antara input dan label */
}
.input-wrapper .luasTanah {
    font-size: 10px; /* Ukuran font label */
    color: #555; /* Warna teks label */
    margin-left: 70%;
}


/* Style.css */


.content {
   max-width: 100%;
   margin-top: 2%;

}
.jr{
  width: 100%;
  margin: 3% 0 3% 0;
}
.isidatabase {
    display: flex;
    max-width: 100%;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
}
.jejeran {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    gap: 3%;
    margin: auto;

}
a {
    text-decoration: none;
    border-radius: 10px;
    max-width: 30%;
}
.pilihan {
    max-width: 100%;
    min-height: 90%;
    max-height: 90%;
    padding: 6px;
    display: flex;
    background-color: #f1f1f1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25) ;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    gap: 10px;
   
}
.pilihan:hover {
    background-color: #fd1d1d;
    box-shadow: 30px 30px 122px rgba(255, 0, 0, 0.4) ;
   
}
.pilihan:hover .isipilihan ul li p, .pilihan:hover h2, .pilihan:hover span {
    color: white;
}

.pilihan img {
    width: 50%;
    height: 0;
   height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.isipilihan {
   transition: 0.5s ease-in-out;
   margin: auto;
   text-align: center;
}
.isipilihan .logox .ruang {
   display: flex;
   align-items: center;
   gap: 5px;
}
.logox .ruang img{
    width: 20px;
    height: 20px;
    transition: 0.5s ease-in-out;
}
.pilihan:hover .logox img {
    background-color: white;
   
}
.isipilihan ul li {
   list-style: none;
   font-size: 10px;
   color: #0f172a;
}
.isipilihan ul li ul li{
   margin-bottom: 5px;
   
}
.isipilihan ul li P{
   color: #fd1d1d;
   transition: 0.5s ease-in-out;
}

.isipilihan ul li span {
    font-size: 15px;
    color: #0f172a;
    transition: 0.5s ease-in-out;
   }
.isipilihan h2 {
    font-size: 15px;
    color: #0f172a;
    letter-spacing: 0.8px;
    transition: 0.5s ease-in-out;
    margin-bottom: 5px;
    margin-top: 15px;

}

.isipilihan button {
    background-color: #fa3636;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}


.box{
    width: 35%;
    background-color: #fff;
    padding: 8px;
    border-radius: 100px;
    box-shadow: 0px 10px 30px -15px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 3%;
}
.box ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box ul li{
    list-style: none;
    margin: 0px 10px;
    border-radius: 100px;
    text-align: center;
}
.box ul li a{
    font-size: 10px;
    padding: 8px 15px;
    text-decoration: none;
    color: #000;
    display: block;
    border-radius: 10px;
    transition: 0.2s ease;
    align-items: center;
    justify-content: center;
}
.box ul li .active_page{
    background-color: #fd1d1d;
    color: #fff;
}
.box ul li:hover,
.box button a:hover{
    background-color: #fd1d1d;
}
.box ul li:hover a,
.box button a:hover{
    color: #fff;
}

/* ---------- Buttons ---------- */
.box button{
    font-size: 11px;
    font-weight: bold;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    overflow: hidden;

}
.box button a{
    text-decoration: none;
    padding: 6px 30px;
    display: block;
    color: #000;
    transition: 0.2s;
}
footer {
    width: 100%;
    background: linear-gradient(to right, #9F2A2A, red);
    color: #fff;
    padding: 10px 0 10px;
    border-top-left-radius: 125px;
    font-size: 10px;
   
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}
.logo {
    width: 50px;
}
.col h3 {
    width: fit-content;
    position: relative;
    margin-bottom: 10px;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 20px 0;
}
.col ul li {
    list-style: none;
}
.col ul li a {
    text-decoration: none;
    color: #fff;
}
.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    gap: 7px;
    padding-bottom: 10px;
}
.foot .email {
    font-size: 10px;
  
}
.foot input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background: white;
    color: #9F2A2A;
    border: 0;
    outline: none;
    font-size: 10px;
}
.foot button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.foot button .panah {
    color: white;

}
.socialIcon .fa-brands, .fa-solid {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    color: #000;
    background: #fff;
    margin-right: px;
    cursor: pointer;
}
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright {
    text-align: center;
}
.underline {
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 3;
    position: absolute;
    left: 0;
    overflow: hidden;
}
.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}