* {
    font-family: "Plus Jakarta Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
}
.container1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sambutan {
    margin-bottom: 2%;
}
h3 {
    font-weight: 400;
}
.namanyadisini {
    font-weight: 560;
}

.atasboss {
    display: flex;
    align-items: center;
    gap: 2%;  
    justify-content: flex-start;
}

.nameemail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.potobulet {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}
.emailinimah {
    font-size: 12px;
    font-weight: 500;
}











.atas {
    display: flex;
    width: 100%;
}
.kiri {
    margin: auto;
    height: 100%;
    width: 50%;
    display: flex; 
    flex-direction: column; 
}

.kiri h2 {
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;

}
.kiri, .kanan {
    padding: 10px 13px;
}
.kanan {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dataPenting, .dataGPenting, hr, .foto {
    margin-bottom: 20px;
}
.dataPenting ul, .dataGPenting ul {
    list-style: none;
    padding: 0;

}
.dataPenting ul li, .dataGPenting ul li { 
    width: 100%;
    min-width: 100%;
    margin-bottom: 5%;
}

.dataPenting ul li input, .dataGPenting ul li input {
    width: 80%;
    padding: 15px 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    outline: none; 
}

label {
    margin-bottom: 5px;
    font-weight: 430;
}


input[type="submit"] {
    padding: 10px 20px; 
    border: none; 
    background-color: #fd1d1d;
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    
}
.bawah {
    justify-content: end;
    display: flex;
    gap: 1%;
    padding: 0 5px 5px 0;
}

input[type="number"] {
    appearance: none;
}