.box-form {
    background-color: rgb(245, 245, 245);
    /* box-shadow: 0px 5px 5px 5px rgba(0, 0, 0,0.5);  */
    border-radius: 8px; 
    padding: 10px 10px; 
    margin: 20px 5px 100px 5px;
}

.container{
    display: flex;              /* Mengaktifkan flexbox */
    min-height: 100%;           /* Tinggi minimum elemen adalah 100% dari kontainer induk */
    flex-direction: column;     /* Menyusun elemen anak secara vertikal */
    justify-content: center;    /* Menyelaraskan elemen anak secara vertikal ke tengah */
    padding: 3px 40px;       /* Padding: 3rem atas dan bawah, 1.5rem kiri dan kanan */
}

