* {
    font-family: "Plus Jakarta Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    max-width: 100%;
}

.dalem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
   max-width: 100%;
   margin-top: 2%;

}
.jr{
  width: 100%;
  margin: 3% 0 3% 0;
}
.isidatabase {
    display: flex;
    max-width: 100%;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
}
.jejeran {
    display: flex;
    max-width: 95%;
    gap: 3%;
    margin: auto;

}
a {
    text-decoration: none;
    border-radius: 10px;
    max-width: 50%;
}
.pilihan {
    padding: 6px;
    display: flex;
    background-color: #f1f1f1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25) ;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    height: 60%;
    min-height: 60%;
}
.kiriPilihan {
    width: 60%;
}
.kananPilihan {
    width: 40%;
    display: flex;
    justify-content: flex-start;
}
.gambar-rumah-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    height: 95%;
    border-radius: 8px;
}
.gambar-rumah-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}
.gambar-rumah {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    border-radius: 8px;
}
.gambar-rumah::-webkit-scrollbar {
    width: 0; /* Hilangkan scrollbar untuk browser berbasis WebKit */
    height: 0;
}
.gambar-item {
    flex: 0 0 100%;
    width: 100%;
    
}
.gambar-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
      object-position: center;
    border-radius: 20px;
}

.navigation-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    position: relative;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dfdede;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background-color: #929292;
}
.navigation-dots .dot.active {
    background-color: #929292;
    transform: scale(1.2); /* Membesarkan dot aktif */
    opacity: 1;
}
.navigation-dots span {
    display: none; /* Sembunyikan semua dot terlebih dahulu */
}
.navigation-dots span:nth-child(-n+3) {
    display: inline-block; /* Tampilkan hanya 3 dot pertama */
}
.dot.active {
    background-color: #929292;
}
.pilihan:hover {
    background-color: #fd1d1d;
    box-shadow: 30px 30px 122px rgba(255, 0, 0, 0.4) ;
   
}
.pilihan:hover .isipilihan ul li p, .pilihan:hover h2, .pilihan:hover span {
    color: white;
}

.isipilihan {
   transition: 0.5s ease-in-out;
   margin: auto;
   text-align: center;
}
.isipilihan .logox .ruang {
   display: flex;
   align-items: center;
   gap: 5px;
   text-align: center;
}
.logox .ruang img{
    width: 25px;
    height: 25px;
    transition: 0.5s ease-in-out;
}
.pilihan:hover .logox img {
    background-color: white;
    border-radius: 8px;
   
}
.isipilihan ul li {
   list-style: none;
   font-size: 13px;
   color: #0f172a;
}
.isipilihan ul li ul li{
   margin-bottom: 10%;
   
}
.isipilihan ul li P{
   color: #fd1d1d;
   transition: 0.5s ease-in-out;
   margin-bottom: 0px;
}

.isipilihan ul li span {
    font-size: 18px;
    color: #0f172a;
    transition: 0.5s ease-in-out;
   }
.isipilihan h2 {
    font-size: 18px;
    color: #0f172a;
    letter-spacing: 0.8px;
    transition: 0.5s ease-in-out;
    margin-bottom: 5px;
   

}
.isipilihan button {
    background-color: #fa3636;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s ease;
    font-size: 18px;
    margin-top: 5%;
}
.isipilihan button:hover {
    background-color: white;
    color: #fd1d1d;
    padding: 7px;
}
.box{
    width: 35%;
    background-color: #fff;
    padding: 8px;
    border-radius: 100px;
    box-shadow: 0px 10px 30px -15px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 3%;
}
.box ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box ul li{
    list-style: none;
    margin: 0px 10px;
    border-radius: 100px;
    text-align: center;
}
.box ul li a{
    font-size: 10px;
    padding: 8px 15px;
    text-decoration: none;
    color: #000;
    display: block;
    border-radius: 10px;
    transition: 0.2s ease;
    align-items: center;
    justify-content: center;
}
.box ul li .active_page{
    background-color: #fd1d1d;
    color: #fff;
}
.box ul li:hover,
.box button a:hover{
    background-color: #fd1d1d;
}
.box ul li:hover a,
.box button a:hover{
    color: #fff;
}

/* ---------- Buttons ---------- */
.box button{
    font-size: 11px;
    font-weight: bold;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    overflow: hidden;

}
.box button a{
    text-decoration: none;
    padding: 6px 30px;
    display: block;
    color: #000;
    transition: 0.2s;
}
footer {
    width: 100%;
    background: linear-gradient(to right, #9F2A2A, red);
    color: #fff;
    padding: 10px 0 10px;
    border-top-left-radius: 125px;
    font-size: 10px;
   
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}
.logo {
    width: 50px;
}
.col h3 {
    width: fit-content;
    position: relative;
    margin-bottom: 10px;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 20px 0;
}
.col ul li {
    list-style: none;
}
.col ul li a {
    text-decoration: none;
    color: #fff;
}
.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    gap: 7px;
    padding-bottom: 10px;
}
.foot .email {
    font-size: 10px;
  
}



.foot input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background: white;
    color: #9F2A2A;
    border: 0;
    outline: none;
    font-size: 10px;
}
.foot button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.foot button .panah {
    color: white;

}
.socialIcon .fa-brands, .fa-solid {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    color: #000;
    background: #fff;
    margin-right: px;
    cursor: pointer;
}
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright {
    text-align: center;
}
.underline {
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 3;
    position: absolute;
    left: 0;
    overflow: hidden;
}
.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}